<p-card
  [style]="{
    width: '90%',
    'margin-bottom': '2em',
    'margin-left': 'auto',
    'margin-right': 'auto',
    'margin-top': '1rem'
  }"
>
  <div
    class="flex justify-content-center flex-wrap card-container yellow-container"
  >
    <div class="flex align-items-center justify-content-center m-2">
      <img class="img-logo" src="../../../assets/primeng-logo.png" />
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
    consequuntur error repudiandae numquam deserunt quisquam repellat libero
    asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Inventore sed consequuntur error repudiandae numquam deserunt quisquam
    repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
    esse, cupiditate neque quas! Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione
    quam perferendis esse, cupiditate neque quas! Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
    numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
    ratione quam perferendis esse, cupiditate neque quas! Lorem ipsum dolor sit
    amet, consectetur adipisicing elit. Inventore sed consequuntur error
    repudiandae numquam deserunt quisquam repellat libero asperiores earum nam
    nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
  </p>
</p-card>

<div
  class="card"
  [style]="{
    width: '90%',
    'margin-bottom': '2em',
    'margin-left': 'auto',
    'margin-right': 'auto',
    'margin-top': '1rem'
  }"
>
  <div class="card-container overflow-hidden">
    <div class="flex flex-wrap-reverse md:flex-wrap">
      <div class="flex-1 m-2 border-round">
        <p-card>
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <img class="img-logo" src="../../../assets/primeng-logo.png" />
            </div>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
         <p-card>
           <div class="flex justify-content-center flex-wrap">
             <div class="flex align-items-center justify-content-center m-2">
               <img class="img-logo" src="../../../assets/primeng-logo.png" />
             </div>
           </div>
         </p-card>
       </div>
    </div>
  </div>
</div>


<p-gmap [options]="options" 
[style]="{
'width':'80%',
'height':'320px', 
'margin-left': 'auto',
'margin-right': 'auto',
'margin-top': '1rem'}" 
></p-gmap>

<app-footer></app-footer>