<div class="card-container overflow-hidden"
[style]="{
    width: '90%',
    'margin-bottom': '2em',
    'margin-left': 'auto',
    'margin-right': 'auto',
    'margin-top': '2rem'
  }"
>
    <div class="flex flex-wrap-reverse md:flex-wrap">
      <div class="flex-1 m-2 border-round">
        <p-card>
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <img class="img-logo" src="../../../assets/primeng-logo.png" />
            </div>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
         <p-card>
           <div class="flex justify-content-center flex-wrap">
             <div class="flex align-items-center justify-content-center m-2">
               <img class="img-logo" src="../../../assets/primeng-logo.png" />
             </div>
           </div>
         </p-card>
       </div>
       <div class="flex-1 m-2 border-round">
        <p-card>
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <img class="img-logo" src="../../../assets/primeng-logo.png" />
            </div>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card>
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <img class="img-logo" src="../../../assets/primeng-logo.png" />
            </div>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card>
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <img class="img-logo" src="../../../assets/primeng-logo.png" />
            </div>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card>
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <img class="img-logo" src="../../../assets/primeng-logo.png" />
            </div>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card>
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <img class="img-logo" src="../../../assets/primeng-logo.png" />
            </div>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card>
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <img class="img-logo" src="../../../assets/primeng-logo.png" />
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>