<div
  class="card"
  [style]="{
    width: '90%',
    'margin-bottom': '2em',
    'margin-left': 'auto',
    'margin-right': 'auto',
    'margin-top': '1rem'
  }"
>
  <div class="card-container overflow-hidden">
    <div class="flex flex-wrap-reverse sm:flex-wrap">
      <div class="flex-1 m-2 border-round">
        <p-card header="Simple card" subheader="Card Subheader">
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center ">
                <img src="../../../assets/primeng-logo.png">
            </div>
          
          </div>
          <ng-template pTemplate="footer">
            <span>Dia:01/01/1001 as 00:00</span>           
            <br>
            <span>Preço:30.00</span>
            <p-divider></p-divider>
            <p-button 
            label="Comprar" 
            icon="pi pi-check"
            [style]="{'margin-left': '30%', 'margin-right': '30%'}"    
            ></p-button>
        </ng-template>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card header="Simple card" subheader="Card Subheader">
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center ">
                <img src="../../../assets/primeng-logo.png">
            </div>
          
          </div>
          <ng-template pTemplate="footer">
            <span>Dia:01/01/1001 as 00:00</span>           
            <br>
            <span>Preço:30.00</span>
            <p-divider></p-divider>
            <p-button 
            label="Comprar" 
            icon="pi pi-check"
               [style]="{'margin-left': '30%', 'margin-right': '30%'}"        
            ></p-button>
        </ng-template>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card header="Simple card" subheader="Card Subheader">
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center ">
                <img src="../../../assets/primeng-logo.png">
            </div>
          
          </div>
          <ng-template pTemplate="footer">
            <span>Dia:01/01/1001 as 00:00</span>           
            <br>
            <span>Preço:30.00</span>
            <p-divider></p-divider>
            <p-button 
            label="Comprar" 
            icon="pi pi-check"
               [style]="{'margin-left': '30%', 'margin-right': '30%'}"        
            ></p-button>
        </ng-template>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card header="Simple card" subheader="Card Subheader">
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center ">
                <img src="../../../assets/primeng-logo.png">
            </div>
          
          </div>
          <ng-template pTemplate="footer">
            <span>Dia:01/01/1001 as 00:00</span>           
            <br>
            <span>Preço:30.00</span>
            <p-divider></p-divider>
            <p-button 
            label="Comprar" 
            icon="pi pi-check"
               [style]="{'margin-left': '30%', 'margin-right': '30%'}"        
            ></p-button>
        </ng-template>
        </p-card>
      </div>
      <div class="flex-1 m-2 border-round">
        <p-card header="Simple card" subheader="Card Subheader">
          <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center ">
                <img src="../../../assets/primeng-logo.png">
            </div>
          
          </div>
          <ng-template pTemplate="footer">
            <span>Dia:01/01/1001 as 00:00</span>           
            <br>
            <span>Preço:30.00</span>
            <p-divider></p-divider>
            <p-button 
            label="Comprar" 
            icon="pi pi-check"
               [style]="{'margin-left': '30%', 'margin-right': '30%'}"                
            ></p-button>
        </ng-template>
        </p-card>
      </div>
      
    </div>
  </div>
</div>
